.DS_Store
cobertura.ser
/*.iml
/*.iws
/*.log
/*.sublime-workspace
/.idea
/.settings
/docs
/grails-spring-security-core-*.zip
/grails-spring-security-core-*.zip.sha1
/plugin.xml
/target
/target-eclipse
/web-app
/.gradle
