*.iml
*.ipr
*.iws
*.log
*.sublime-workspace
.asscache
.DS_Store
.gradle
.idea
build
cobertura.ser
kindlegen
out
/functional-test-app/**/grails-app/conf/application.groovy
/functional-test-app/**/grails-app/conf/spring
/functional-test-app/**/grails-app/controllers
/functional-test-app/**/grails-app/domain
/functional-test-app/**/grails-app/i18n
/functional-test-app/**/grails-app/init
/functional-test-app/**/grails-app/services
/functional-test-app/**/grails-app/views
/functional-test-app/**/src
atlassian-ide-plugin.xml