package ${packageName}

class ${groupClassName} {

	String name

	static mapping = {
		cache true
	}

	Set<${roleClassName}> getAuthorities() {
		${groupClassName}${roleClassName}.findAllBy${groupClassName}(this).collect { it.${roleClassProperty} }
	}

	static constraints = {
		name blank: false, unique: true
	}
}
