package ${packageName}

class ${userClassName} {

	String username
	String password
	boolean enabled

	static constraints = {
		username blank: false, unique: true
		password blank: false
	}

	static mapping = {
		password column: '`password`'
	}

	Set<${roleClassName}> getAuthorities() {
		${userClassName}${roleClassName}.findAllBy${userClassName}(this).collect { it.${roleClassProperty} } as Set
	}
}
